body { font-family:Molengo,"Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;}
.announcement { color: #777; border-bottom: solid 3px #d0d0d0; background-color: #fff; padding: 10px 10px; text-align: center; transition: 0.3s; }
.announcement p { display: inline-block;font-size: 15px;margin: 0;line-height: 1;text-indent: 5px; }
.announcement i { display: inline-block;font-size: 15px;margin: 0;line-height: 1;color: #444; }

.path-announcement2 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.path-announcement {
	margin-top: 50px;
    background-color: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
}
.path-announcement p {
    color: #444444;
    line-height: 3.5;
    margin-left: 20px;
}
.path-announcement a {
	color: #666;
    box-shadow: 0px 1px 0px 0px #999;
	text-decoration: none;
}
.path-announcement a:focus,.path-announcement a:hover {
	color: #337ab7;
    box-shadow: 0px 1px 0px 0px #555;
}
.path-announcement i {
	margin-right: 10px;
}
.path-announcement i,.path-announcement p {
    display: inline;
}

.navbar { min-height: 50px; }
.navbar-top { background-color: #444 !important; }
.navbar-brand { color: #fff; padding: 10px; font-size: 20px; }
.dropdown .dropdown-toggle { padding-bottom: 10px; padding-top: 10px; }
.navbar-inverse .navbar-brand { color: #fff; padding: 15px 20px 10px; font-size: 16px; font-weight: 600; }
.content { background: #ffffff; padding: 20px; border: 1px #eee solid; -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1); -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1); box-shadow: 0 1px 10px rgba(0, 0, 0, .1); margin-bottom: 20px; margin-top: 50px; }
.table { background: #ffffff; margin-bottom: 0; border-collapse: collapse; border-radius: 3px; }
.table th, .table td { text-align: center; }
.table-striped tbody > tr.even > td, .table-striped tbody > tr.even > th { background-color: #F9F9F9; }
.table-striped tbody > tr.odd > td, .table-striped tbody > tr.odd > th { background-color: #FFF; }
.progress { margin-bottom: 0; }
.progress-bar { color: #000; }
.table-hover > tbody > tr:hover > td { background: #E6E6E6; }
tr.even.expandRow > :hover { background: #F9F9F9 !important; }
tr.odd.expandRow > :hover { background: #FFF !important; }
.expandRow > td { padding: 0 !important; border-top: 0px !important; }
#cpu, #ram, #hdd, #network, #traffic { min-width: 55px; max-width: 100px; }

@media only screen and (max-width: 992px) {
	#location, tr td:nth-child(4)		{ display:none; visibility:hidden; }
}
@media only screen and (max-width: 720px) {
	#type, tr td:nth-child(3)			{ display:none; visibility:hidden; }
	#location, tr td:nth-child(4)		{ display:none; visibility:hidden; }
	#uptime, tr td:nth-child(5)			{ display:none; visibility:hidden; }
}
@media only screen and (max-width: 600px) {
	#type, tr td:nth-child(3)			{ display:none; visibility:hidden; }
	#location, tr td:nth-child(4)		{ display:none; visibility:hidden; }
	#uptime, tr td:nth-child(5)			{ display:none; visibility:hidden; }
	#load, tr td:nth-child(6)			{ display:none; visibility:hidden; }
}
@media only screen and (max-width: 533px) {
	#type, tr td:nth-child(3)			{ display:none; visibility:hidden; }
	#location, tr td:nth-child(4)		{ display:none; visibility:hidden; }
	#uptime, tr td:nth-child(5)			{ display:none; visibility:hidden; }
	#traffic, tr td:nth-child(8)		{ display:none; visibility:hidden; }
	#load, tr td:nth-child(6)			{ display:none; visibility:hidden; }
}
@media only screen and (max-width: 450px) {
	body								{ font-size: 10px; }
	.content 							{ padding: 0; }
	#name, tr td:nth-child(2)			{ min-width: 20px; max-width: 60px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
	#type, tr td:nth-child(3)			{ display:none; visibility:hidden; }
	#location, tr td:nth-child(4)		{ display:none; visibility:hidden; }
	#uptime, tr td:nth-child(5)			{ display:none; visibility:hidden; }
	#traffic, tr td:nth-child(8)		{ display:none; visibility:hidden; }
	#hdd, tr td:nth-child(11)		{ display:none; visibility:hidden; }
	#cpu, #ram { min-width: 20px; max-width: 40px; }
}
